<div class="image-card card" data-image-id="<%= image.id %>">
  <div class="card-image">
    <a href="/gallery/<%= image.id %>">
      <figure class="image is-square">
        <img
          src="/uploads/thumbnails/medium/<%= image.filename %>"
          alt="<%= image.originalName || image.filename %>"
          loading="lazy"
          onerror="this.src='/uploads/<%= image.filename %>'"
          style="object-fit: cover; width: 100%; height: 100%;"
        >
      </figure>
    </a>
  </div>
  <div class="card-content p-2">
    <p class="is-size-7 has-text-grey-dark has-text-truncated" title="<%= image.originalName || image.filename %>">
      <%= image.originalName || image.filename %>
    </p>
    <% if (image.Tags && image.Tags.length > 0) { %>
    <div class="tags mt-1">
      <% image.Tags.slice(0, 3).forEach(tag => { %>
        <span class="tag is-small is-light"><%= tag.name %></span>
      <% }) %>
      <% if (image.Tags.length > 3) { %>
        <span class="tag is-small is-light has-text-grey">+<%= image.Tags.length - 3 %></span>
      <% } %>
    </div>
    <% } %>
  </div>
</div>